@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

body{
	display : flex;
	align-items: center;
	justify-content: center;
	width : 1000px;
}

form{
	display : flex;
	border : 1px solid red;
	align-items: center;
	justify-content: center;
	height : 500px;
	flex-direction: column;
	width : 1000px;
	font-size : 25px;
	margin-top : 0px;
}

table, tr{
	width : auto;
	height : 100px;
	align-content: center;
	text-align: center;
	border : 1px solid black;
}

#btn{
	display : flex;
	width : 200px;
	align-items: center;
	justify-content: space-around;
	border : 1px solid black;
}




