@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

body{
	display : flex;
	align-items: center;
	justify-content: center;
}  

form{
	display : flex;
	align-items: center;
	justify-content: center;
	height : 500px;
	width : 1000px;
	flex-direction: column;
	border : none;

}

#ip{
	display : flex;
	flex-direction: column;
}

li{
	list-style: none;
	margin-bottom : 8px;
	font-size : 25px;
	font-color : silver;
}


input {
	border-top : none;
	border-left : none;
	border-right : none;
	border-bottom : 2px solid grey;
	font-size : 20px;
	font-family: 'Jua', sans-serif;
	color : grey;
	
}

input:focus{
    outline: none;
}

#login{
	color : tomato;
	border : none;
	margin-top : 5px;
	margin-left : 65px;
	font-size : 25px;
	
}

#login:hover {
	cursor : pointer;
}

#userinsert{
	display : block;
	font-size : 22px;
	color : grey;
	padding-left : 30px;
}

a:visited{
	color : steelblue;
	text-decoration: none;
}

a:link{
	color : steelblue;
	text-decoration: none;
}




