@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');


body{
  font-family: 'Jua', sans-serif;
  box-sizing: border-box;
  display : flex;
  flex-wrap : wrap;
  align-items: center;
  justify-content: center;
  width : 1000px;
  margin : 0px auto;

}

#header_wrap{
	display: inline-block;
	flex-wrap : wrap;
    align-items : center;
    font-family: 'Jua', sans-serif;
    background-color : lightblue;
    height : 200px;
    width : 1000px;
    position : relative;
}

#nav{
	display : inline-block;
	justify-content: center;
	width : auto;
	position : relative;
	top : -80px;
	left : 530px;
}


#notice, #fee, #reserve, #review{
	margin-right : 10px;
    border : none;
    color : white;
    padding : 5px;
    font-size : 35px;
    cursor : pointer; 
}


#h_bag{
	width : 150px;
	height : 150px;
	margin-top : 20px;
	margin-right : 500px;
	position : absoulte;
}

#section{
	width : auto;
	height : auto;
	align-items: center;
	margin : auto;
	
}





