@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

.wrap{
	width:1000px;
	position:relative;
	align-items : center;
	text-align:center;
	justify-content: center;	
}
.button{
	width:1000px;
	margin-top:20px;
	display:flex;
	justify-content:center;
	align-items: center;
}
table{
	display:inline-block;
	width:700px;
	text-align:center;
	font-size : 25px;
	border-radius : 10px;
	border : 5px double #ccc5af;
}
thead th:nth-child(1){
	 width:50px;
	 padding-left:15px;
}
thead th:nth-child(2){
	 width:635px;
}

th, td{
	padding-bottom:15px;
	
}
#modify, #del{
	width : 100px;
	background-color : #ffe0b2;
	align-items: center;
	text-align: center;
	padding:8px;
	border-radius: 15px;
	font-size : 20px;
	border: 1px solid white;
	font-family: 'Jua', sans-serif;
}
#modify{
	margin-right:20px;
}	
#del{
	margin-left:20px;
}

#modify:hover, #del:hover{
	cursor : pointer;
}

pre{
	font-family: 'Jua', sans-serif;
}