@charset "UTF-8";

.wrap{
	width:1000px;
	position:relative;
 	text-align:center; 	 
}

table{
	display:inline-block;
	width:800px;
	text-align:center;
	font-size : 25px;
}


h2{
	text-align : center;
	font-size : 28px;
	text-decoration : underline;
}

.detail{
	width : 120px;
	background-color : #ffe0b2;
	align-items: center;
	text-align: center;
	padding:5px;
	border-radius: 15px;
	font-size : 15px;
	border: 1px solid white;
	font-family: 'Jua', sans-serif;
}
.detail:hover {
	cursor : pointer;
}

thead th:nth-child(1) {
  width: 120px;
}

thead th:nth-child(2) {
  width: 200px;
}

thead th:nth-child(3) {
  width: 240px;
}

thead th:nth-child(4) {
  width: 240px;
}
th, td {
  padding-top : 15px;

}