@charset "UTF-8";

.wrap{
	width:1000px;
	position:relative;
	align-items : center;
	text-align:center;
	justify-content: center;	
}

table{
	display:inline-block;
	width:600px;
	text-align:center;
	font-size : 25px;
	border-radius : 10px;
	border : 5px double #ccc5af;
}
thead th:nth-child(1){
	 width:180px;
}
thead th:nth-child(2){
	 width:210px;
}
thead th:nth-child(3){
	 width:210px;
}
td, th{
	padding-bottom:15px;
}
#button{
	width : 170px;
	background-color : #ffe0b2;
	align-items: center;
	text-align: center;
	padding:8px;
	border-radius: 15px;
	font-size : 20px;
	border: 1px solid white;
	font-family: 'Jua', sans-serif;
	margin-left:415px;
}
#button:hover{
	cursor : pointer;
}
	