@charset "UTF-8";

.wrap{
	width:1000px;
	position:relative;
	align-items : center;
	text-align:center;
	justify-content: center;	
}
.button{
	width:1000px;
	margin-top:20px;
	display:flex;
	justify-content:center;
	align-items: center;
}

h2{
	text-align : center;
	font-size : 28px;
	text-decoration : underline;
}

table{
	display:inline-block;
	width:500px;
	text-align:center;
	font-size : 25px;
	border-radius : 10px;
	border : 5px double #ccc5af;
}
thead th:nth-child(1){
	 width:150px;
}
thead th:nth-child(2){
	 width:350px;
}

th, td{
	padding-bottom:15px;
	
}
#modify, #reset{
	width : 100px;
	background-color : #ffe0b2;
	align-items: center;
	text-align: center;
	padding:6px;
	border-radius: 15px;
	font-size : 20px;
	border: 1px solid white;
	font-family: 'Jua', sans-serif;
}
#delete{
	width : 50px;
	background-color : #ffe0b2;
	align-items: center;
	text-align: center;
	padding:3px;
	border-radius: 15px;
	font-size : 15px;
	border: 1px solid white;
	font-family: 'Jua', sans-serif;
	margin-left:10px;
}
#modify{
	margin-right:20px;
}	
#reset{
	margin-left:20px;
}
input, select{
	border-top : none;
	border-left : none;
	border-right : none;
	border-bottom : 2px solid grey;
	font-size : 20px;
	font-family: 'Jua', sans-serif;
	color : grey;
}
select{
	margin-left:30px;
}
#modify:hover, #reset:hover, #delete:hover{
	cursor : pointer;
}
textarea{
	font-family:inherit;
}
